@import "norm";
@import "skeleton_adaptive";

.no-space { margin: 0; padding: 0; }

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a:link, a:visited {
	text-decoration: none;
	color: steelblue;
} 

.full {
	@extend .no-space;
	width: 100%;
	background-color: black;
	color: white;
	padding-top: 4em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#title {
	@extend .futura;
	text-decoration: none;
	font-size: 30pt;
	letter-spacing: 1px;
	font-weight: 100;
	
	a:link, a:visited {
		color: white;
	}
}

.futura {
	font-family: "Futura LT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
	@extend .no-space;
	li {
		list-style: none;
		@extend .no-space;
		p {
			background-color: darken(whitesmoke,10%);
			display: inline-block;
			text-transform: uppercase;
			border-radius: 3px;
			margin-left: 1em;
			padding: 0.25em 0.5em;
			font-size: 0.5em;
			font-weight: 900;
			letter-spacing: 2px;
			position: relative;
			top: -3px;
		}
	}
}
